// цвета
.red {
    background: red;
    color: white;
}
.green {
    background: #1bbc9b;
    color: #fff;
}

// внешние отступы
.marginRight {
    margin-right: 20px;
}
.marginTop10 {
    margin-top: 10px;
}

// другое
.flexWrap {
    flex-wrap: wrap;
}