// цвета
.red {
    background: red;
    color: white;
}
.green {
    background: #5FB677;
    color: #fff;
}
.outerRed{
  background: rgba(205, 0, 0, 0.8);
}
.outerGreen{
  background: #448456c0;
}

// внешние отступы
.marginRight20 {
    margin-right: 20px;
}
.marginTop10 {
    margin-top: 10px;
}
.marginBottom15 {
  margin-bottom: 15px;
}

// другое
.flexWrap {
    flex-wrap: wrap;
}
.bg {
  background: #f5f5f5;
}

// блок персональной инфы
.info-form {
  font-weight: bold;
  .info-form__elem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    label {
      span {
        color: red;
      }
    }
    .info-form__label {
      flex: 0 1 150px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
    }
    .info-form__input {
      flex: 0 1 230px;
      height: 35px;
      padding: 5px 10px;
      background: #f5f5f5;
      border: 1px solid #c7c7c7;
      border-radius: 10px;
      &:focus {
        border: 2px solid rgb(52, 209, 209);
      }
    }
    .info-form__data {
      flex: 0 1 200px;
      text-align: left;
      font-weight: 500;
      font-size: 18px;
    }
  }
}